@using DreamWorkerStudioJobs;
@{
	ViewBag.Title = "项目概览";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1>项目概览</h1>
	<p>我们拥有这些项目供你施展才华</p>
</div>
@foreach ( var project in ( Model as List<DreamWorkerStudioJobs.Models.Project> ) )
{
	<div>
		<h2>@project.Name</h2>
		<p class="lead">@project.Introduction</p>
		<p>
			<a class="btn btn-primary" href="/Projects/@project.ID">了解更多 &raquo;</a>
		</p>
		<div class="hidden-xs hidden-sm">
			<div class="container-fluid">

				<h3>这个项目希望招收到这些职位的人才</h3>
				<div class="row">
					@foreach ( var job in project.Jobs )
					{
						<div class="col-md-4">
							<h4>@job.Name</h4>
							<p>@job.Introduction[project]</p>
							<p>@job.Requirement[project]</p>
							<p>
								<a class="btn btn-default" href="/Jobs/@job.ID">了解更多 &raquo;</a>
							</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}
