@model DreamWorkerStudioJobs.Models.ApplyForJobResult

@{
	ViewBag.Title = "Result";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>纵览</h2>

<div>
	<h4>这是关于你的记录</h4>
	<hr />
	<div class="alert alert-info" role="alert">请检查所有这些内容，如果有误，请给<mark>15949491426</mark>或是<mark>18747797281</mark>发短信希望更正。</div>
	<div class="alert alert-warning" role="alert">你必须记住你的ID和密码以便以后的修改和检查</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.ID)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ID)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Password)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Password)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Project)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Project)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Job)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Job)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Xing)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Xing)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Ming)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Ming)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FirstName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.FamilyName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FamilyName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PhoneNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Grade)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Grade)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Class)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Class)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Mark)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Mark)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Advantage)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Advantage)
			</dd>

		</dl>

	</div>

